<app-main-nav>
  <div class="page-header">
    <div class="mat-display-2">Create Announcement</div>
    <button
      mat-raised-button
      (click)="goBack()"
      color="accent"
      style="height: fit-content"
    >
      <mat-icon>arrow_back</mat-icon>
      Go Back
    </button>
  </div>

  <div class="comp-content-wrapper">
    <div class="form-wrapper">
      <form
        (ngSubmit)="onCreateAnnouncement()"
        [formGroup]="addAnnouncementForm"
      >
        <mat-card class="add-announcement-card">
          <mat-card-header>
            <mat-card-title>
              <span class="mat-display-1">Announcement Details</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" class="input-fields">
              <mat-label>Title</mat-label>
              <input
                matInput
                placeholder="Enter Title"
                formControlName="title"
              />
              <mat-error *ngIf="errorHandling('title', 'required')">
                You must provide a title.
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" class="input-fields">
              <mat-label>Announcement Message</mat-label>
              <textarea
                formControlName="body"
                matInput
                placeholder="Enter the message"
              ></textarea>
            </mat-form-field>
            <br />
          </mat-card-content>
          <mat-card-actions class="crd-actions" align="end">
            <button mat-raised-button color="primary" type="submit">
              Create Announcement
            </button></mat-card-actions
          >
        </mat-card>
      </form>
    </div>
  </div>
</app-main-nav>
