@import "../../../styles.scss";

.dashboard-outer-wrapper {
  .dashboard-wrapper {
    .content-wrapper {
      margin-top: 3rem;
      .announcement-wrapper {
        margin-top: 4rem;
        table {
          margin-top: 1.5rem;
          .rr {
            cursor: pointer;
          }

          .rr:hover {
            background-color: rgba($color: #000, $alpha: 0.1);
            transition: 0.5s;
          }
        }
      }
      .stats-wrapper {
        display: flex;
        .stat-card {
          width: 20%;
          min-width: 100px;
          padding: 30px;
          margin-right: 3rem;
        }
      }
    }
  }
}

:host {
  ::ng-deep {
    .mat-paginator-icon {
      display: none;
    }
  }
}
