<app-main-nav>
  <div class="dashboard-outer-wrapper">
    <div class="dashboard-wrapper">
      <div class="greeting-wrapper">
        <span class="mat-display-3" style="color: #ff4081"
          >{{ message }},&nbsp;</span
        >
        <br *ngIf="break" />
        <span class="mat-display-3">{{ name }}</span>
      </div>
      <div class="content-wrapper">
        <div class="stats-wrapper">
          <mat-card class="stat-card" *ngIf="role === 'Admin'">
            <mat-card-title style="text-align: center"
              >Number of Faculties</mat-card-title
            >
            <mat-card-content style="text-align: center; margin-top: 30px">
              <span class="mat-display-4 stat-num">{{ facCount }}</span>
            </mat-card-content>
            <mat-card-actions style="text-align: center">
              <a routerLink="/faculty-info">
                <button mat-raised-button color="primary">View Details</button>
              </a>
            </mat-card-actions>
          </mat-card>

          <mat-card class="stat-card" *ngIf="role === 'Admin'">
            <mat-card-title style="text-align: center"
              >Number of Students</mat-card-title
            >
            <mat-card-content style="text-align: center; margin-top: 30px">
              <span class="mat-display-4 stat-num">{{ stuCount }}</span>
            </mat-card-content>
            <mat-card-actions style="text-align: center">
              <a routerLink="/student-info">
                <button mat-raised-button color="primary">View Details</button>
              </a>
            </mat-card-actions>
          </mat-card>

          <mat-card class="stat-card" *ngIf="role === 'Admin'">
            <mat-card-title style="text-align: center"
              >Active Classrooms</mat-card-title
            >
            <mat-card-content style="text-align: center; margin-top: 30px">
              <span class="mat-display-4 stat-num">{{ classCount }}</span>
            </mat-card-content>
            <mat-card-actions style="text-align: center">
              <a routerLink="/classes/all">
                <button mat-raised-button color="primary">All Classes</button>
              </a>
            </mat-card-actions>
          </mat-card>

          <mat-card
            class="stat-card"
            *ngIf="role === 'Student' || role === 'Faculty'"
          >
            <mat-card-title style="text-align: center"
              >New Announcements</mat-card-title
            >
            <mat-card-content style="text-align: center; margin-top: 30px">
              <span class="mat-display-4 stat-num">
                {{ announcementCount }}
              </span>
            </mat-card-content>
            <mat-card-actions style="text-align: center">
              <!-- <a routerLink="/attendance">
                <button mat-raised-button color="primary">
                  View Attendance
                </button>
              </a>  -->
              <!-- <span style="cursor: text" class="mat-button"
                >All Announcements: 8</span
              > -->
            </mat-card-actions>
          </mat-card>

          <mat-card class="stat-card" *ngIf="role === 'Faculty'">
            <mat-card-title style="text-align: center"
              >Your Classes</mat-card-title
            >
            <mat-card-content style="text-align: center; margin-top: 30px">
              <span class="mat-display-4 stat-num"> {{ facClassCount }} </span>
            </mat-card-content>
            <mat-card-actions style="text-align: center">
              <a routerLink="/classes/{{ id }}">
                <button mat-raised-button color="primary">View Classes</button>
              </a>
            </mat-card-actions>
          </mat-card>

          <mat-card class="stat-card" *ngIf="role === 'Student'">
            <mat-card-title style="text-align: center"
              >Active Assignments</mat-card-title
            >
            <mat-card-content style="text-align: center; margin-top: 30px">
              <span class="mat-display-4 stat-num">{{ assignmentCount }}</span>
            </mat-card-content>
            <mat-card-actions style="text-align: center">
              <a routerLink="/assignments">
                <button mat-raised-button color="primary">
                  View Assignments
                </button>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="announcement-wrapper">
          <div class="annoucement-hd">
            <span class="mat-display-1">Recent Announcements</span>
            <a routerLink="/announcements">
              <button mat-button color="accent">All Announcements</button>
            </a>
          </div>
          <mat-card class="table-card" style="padding: 0">
            <mat-card-content>
              <table
                mat-table
                [dataSource]="data"
                matSort
                class="dash-announcement-table"
              >
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef style="color: white">
                    TITLE
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.title }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="body">
                  <th style="color: white" mat-header-cell *matHeaderCellDef>
                    BODY
                  </th>
                  <td
                    mat-cell
                    style="
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      max-width: 69ch;
                    "
                    *matCellDef="let element"
                  >
                    {{ element.body }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  style="background-color: #3f51b5"
                  *matHeaderRowDef="displayedColumns"
                ></tr>
                <tr
                  mat-row
                  class="rr"
                  (click)="openAnnouncementDialog(row)"
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <mat-paginator
                [pageSize]="4"
                style="color: white; display: none"
                color="primary"
                disabled
                hidePageSize
              >
              </mat-paginator>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</app-main-nav>
