<app-main-nav>
  <div
    class="page-header"
    style="display: flex; justify-content: space-between"
  >
    <div class="mat-display-2">Create Assignment</div>
    <button
      mat-raised-button
      (click)="goBack()"
      color="accent"
      style="height: fit-content"
    >
      <mat-icon>arrow_back</mat-icon>
      Go Back
    </button>
  </div>

  <div class="comp-content-wrapper">
    <div class="form-wrapper">
      <form (ngSubmit)="onCreateAnnouncement()" [formGroup]="addAssignmentForm">
        <mat-card class="add-announcement-card">
          <mat-card-header>
            <mat-card-title>
              <span class="mat-display-1">Announcement Details</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field
              appearance="outline"
              class="input-fields"
              style="width: 30%"
            >
              <mat-label>Title</mat-label>
              <input
                matInput
                placeholder="Enter Title"
                formControlName="title"
              />
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline" style="width: 30%">
              <mat-label>Due Date</mat-label>
              <input
                matInput
                [matDatepicker]="datepicker"
                formControlName="dueBy"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="datepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker> </mat-datepicker>
            </mat-form-field>
            <br />
            <button
              type="button"
              mat-raised-button
              color="accent"
              (click)="fileInput.click()"
            >
              <mat-icon>file_upload</mat-icon>
              Choose File
            </button>
            <input
              hidden
              (change)="onFileSelected()"
              #fileInput
              type="file"
              id="file"
            />
          </mat-card-content>
          <mat-card-actions class="crd-actions" align="end">
            <button mat-raised-button color="primary" type="submit">
              Create Assignment
            </button></mat-card-actions
          >
        </mat-card>
      </form>
    </div>
  </div>
</app-main-nav>
