<app-main-nav>
  <div class="student-wrapper">
    <div class="inner-wrapper">
      <div class="page-header">
        <div class="mat-display-2 comp-header">Student Details</div>
        <button
          mat-raised-button
          (click)="goBack()"
          color="accent"
          style="height: fit-content"
        >
          <mat-icon>arrow_back</mat-icon>
          Go Back
        </button>
      </div>
      <div class="student-content">
        <mat-card class="student-card">
          <mat-card-content>
            <div class="student-inner">
              <div class="student-img">
                <mat-icon style="font-size: 250px" color="primary"
                  >person</mat-icon
                >
              </div>
              <div class="student-details">
                <mat-card-title class="name">{{
                  studentDetails?.name
                }}</mat-card-title>

                <div class="deets">
                  <strong>ID:</strong> &nbsp; {{ studentDetails?.id }}
                </div>
                <div class="deets">
                  <strong>Phone Number:</strong> &nbsp;
                  {{ studentDetails?.phone }}
                </div>
                <div class="deets">
                  <strong>Email:</strong> &nbsp; {{ studentDetails?.email }}
                </div>
                <div class="deets">
                  <strong>Address:</strong> &nbsp; {{ studentDetails?.address }}
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions *ngIf="role === 'Admin'" align="end">
            <button mat-button color="warn">Delete Student</button>

            <button
              mat-raised-button
              color="primary"
              id="update-btn"
              (click)="updateDetails()"
            >
              Update Student Details
            </button>
          </mat-card-actions>
        </mat-card>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-main-nav>
