<!-- <mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    (click)="drawer.toggle()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>College Manager</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="/profile" style="text-decoration: none">
      <button mat-menu-item>My Profile</button>
    </a>
    <a routerLink="/" style="text-decoration: none">
      <button mat-menu-item>Logout</button>
    </a>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-main-nav></app-main-nav>
  </mat-drawer>

  <mat-drawer-content>
    <div class="outer-wrapper" style="min-height: 95vh">Profile Works</div>
  </mat-drawer-content>
</mat-drawer-container> -->

<app-main-nav>Profile Works!</app-main-nav>
