@import "../../../styles.scss";

.facinfo-wrapper {
  .inner-wrapper {
    .page-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .comp-content-wrapper {
      .content-inner-wrapper {
        .table-card {
          @media screen and (max-width: 750px) {
            overflow: scroll;
          }
          padding: 0;
          .rr {
            cursor: pointer;
          }

          .rr:hover {
            background-color: rgba($color: #000, $alpha: 0.05);
            transition: 0.2s;
          }
        }
      }
    }
  }
}
